@charset "utf-8";

/* ページのTOPに戻る */
a.BackToTop {
	position: fixed;
	width: 52px;
	height: 52px;
	bottom: 15px;
	right: 15px;
	border: 3px solid #fff;
	background-color: rgba(255, 255, 255, 0.75);
	@include opacity(0);
	@include borderRadius(26px);
	@include box-shadow(rgba(0, 0, 0, 0.25) 0px 0px 10px);
	@include transition(all, 0.3s, ceaser($easeOutQuart));

	&:hover {
		background-color: rgba(255, 255, 255, 1.0);
		width: 68px;
		height: 68px;
		@include borderRadius(34px);
		bottom: 7px;
		right: 7px;
	}

	img {
		display: block;
		position: absolute;
		width: 24px;
		height: 15px;
		top: 50%;
		left: 50%;
		margin-left: -12px;
		margin-top: -8px;
	}
}


/* SNS Buttons */
.wp_social_bookmarking_light{
	border: 0 !important;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;

	div {
		float: left !important;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 10px 0px 0 !important;
		min-height: 30px !important;
		line-height: 18px !important;
		text-indent: 0 !important;

		&.wsbl_pocket {
			margin-right: 0 !important;
		}
	}

	img {
		border: 0 !important;
		padding: 0;
		margin: 0;
		vertical-align: top !important;
	}

	@include mq-custom(320px, 767px) {
		margin-top: 24px !important;
	}
}
.wp_social_bookmarking_light_clear{
	clear: both !important;
}


/* 検索フォーム */
.SearchFormUnit {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 354px;
	height: 60px;
	@include opacity(0);
	@include transform-origin( center, center, 0 );
	@include transform-style(preserve-3d);
	@include transform(perspective(400px) rotateX(90deg) translateY(-20px));


	.search-form {
		position: relative;
		background-color: #222;
		width: 354px;
		height: 60px;
		padding: 7px 12px 0 0;
		@include borderRadius(6px);

		input.search-field {
			display: block;
			position: absolute;
			top: 15px;
			left: 20px;
			height: 26px;
			width: 280px;
			padding: 0 0.25em 0 0.25em;
			font-size: 10pt;
			line-height: 26px;
			background-color: #eee;
			border: 1px solid #fff;
			@include borderRadius(2px);

			@include input-placeholder {
				color: #999;
			}

			&:focus {
				outline: 0;
				background-color: #fff;
			}
		}

		input.search-submit {
			display: block;
			position: absolute;
			top: 15px;
			right: 16px;
			width: 26px;
			height: 26px;
		}
	}
}


