@charset "utf-8";

/* ページのTOPに戻る */
a.BackToTop {
	position: fixed;
	width: 52px;
	height: 52px;
	bottom: 15px;
	right: 15px;
	border: 3px solid #fff;
	background-color: rgba(255, 255, 255, 0.75);
	@include opacity(0);
	@include borderRadius(26px);
	@include box-shadow(rgba(0, 0, 0, 0.25) 0px 0px 10px);
	@include transition(all, 0.3s, ceaser($easeOutQuart));

	&:hover {
		background-color: rgba(255, 255, 255, 1.0);
		width: 68px;
		height: 68px;
		@include borderRadius(34px);
		bottom: 7px;
		right: 7px;
	}

	img {
		display: block;
		position: absolute;
		width: 24px;
		height: 15px;
		top: 50%;
		left: 50%;
		margin-left: -12px;
		margin-top: -8px;
	}
}


/* SNS Buttons */
.wp_social_bookmarking_light{
	border: 0 !important;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;

	div {
		float: left !important;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 10px 0px 0 !important;
		min-height: 30px !important;
		line-height: 18px !important;
		text-indent: 0 !important;

		&.wsbl_pocket {
			margin-right: 0 !important;
		}
	}

	img {
		border: 0 !important;
		padding: 0;
		margin: 0;
		vertical-align: top !important;
	}

	@include mq-custom(320px, 767px) {
		margin-top: 24px !important;
	}
}
.wp_social_bookmarking_light_clear{
	clear: both !important;
}


