@charset "utf-8";
/*
 ** アーカイブページのスタイル
*/

.archive-wrapper {

	h1.archive-title {
		padding: 0 0 0.5em 2.4em;
		border-bottom: 1px solid #ccc;
		font-family: "Open Sans", "Gothic MB101 Regular","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Yu Gothic", Meiryo, Roboto, "Droid Sans", sans-serif;
		font-weight: 400;
		@include fontStrong();
		color: #000;
		background-image: url(images/icon-folder-black.svg);
		background-size: 26px 19px;
		background-repeat: no-repeat;

		&.search-result-title {
			padding-left: 2em;
			background-image: url(images/icon-searchresult.svg);
			background-size: 22px 22px;
		}

		.archive-title-name {
			display: inline-block;
			font-size: 16pt;
			margin-right: 0.5em;
			letter-spacing: 0em;
		}

		.archive-title-label {
			display: inline-block;
			font-size: 11.5pt;
		}

		/* SMP */
		@include mq-custom($smpMinWidth, $smpMaxWidth) {
			width: $smpContentWidth;
			margin: 0 auto 0 auto;
		}
	}

	.archive-post {
		margin-top: 1.5em;
		/* SMP */
		@include mq-custom($smpMinWidth, $smpMaxWidth) {
			width: $smpContentWidth;
			margin-left: auto;
			margin-right: auto;
		}
		.post {
			@include display-flex();
			@include align-items(center);
			@include justify-content(space-between);
			margin-bottom: 1.5em;

			.archive-post-left {
				width: 136px;
				height: auto;
				@include flex(0 1 136px);
			}

			.archive-post-content {
				width: auto;
				@include flex(1 1 0);
			}

			.archive-post-right {
				width: 100px;
				@include flex(0 1 100px);
			}

			/* SMP */
			@include mq-custom($smpMinWidth, $smpMaxWidth) {
				@include flex-wrap(wrap);
				@include align-items(flex-start);
				.archive-post-left {
					width: 34%;
				}
				.archive-post-content {
					width: 63%;
				}
				.archive-post-right {
					display: none;
				}
			}
		}

		hr.dotted {
			margin-bottom: 0;
			@include mq-custom($smpMinWidth, $smpMaxWidth) {
				width: 100%;
			}
		}

		&:last-child {
			hr.dotted {
				display: block;
			}
		}
	}
}

/* アーカイブ表示時の投稿アイテム */
.archive-post {

	// 左（サムネイル表示）
	.archive-post-left {

		.post-eyecatch-image {
			display: block;
			position: relative;
			width: 100%;
			padding-top: 70.59%;
			margin: 0;
			overflow: hidden;
			border: 1px solid #c5c5c5;
			background-image: url(images/no-thumb-image2.png);
			background-size: cover;
			background-repeat: no-repeat;

			a {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}


			img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: auto;
				@include translate(-50%, -50%);
			}
		}
	}

	// 真ん中（タイトルと投稿日）
	.archive-post-content {
		padding-left: 2%;
		padding-right: 2.5%;
		/* SMP */
		@include mq-custom($smpMinWidth, $smpMaxWidth) {
			padding-left: 3%;
			padding-right: 0;
		}
		.post-title {
			@include fontSubtitle();
			font-size: 17pt;
			letter-spacing: 0;
			line-height: 1.3em;

			a {
				color: #000;

				&:hover {
					color: $linkBlue;
				}
			}
			/* SMP */
			@include mq-custom($smpMinWidth, $smpMaxWidth) {
				font-size: 13pt;
			}
		}

		.published-date {
			margin-top: 0.2em;
			font-family: "Open Sans", "Gothic MB101 Medium","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Yu Gothic", Meiryo, Roboto, "Droid Sans", sans-serif;
			font-weight: 400;
			font-size: 9pt;
		}
	}

	/* 右（続きを読むボタン） */
	.archive-post-right {
		a.continue-link {
			display: block;
			width: 100px;
			height: 36px;
			font-size: 9pt;
			font-family: 'Open Sans', sans-serif;
			line-height: 36px;
			letter-spacing: 0em;
			color: #000;
			text-align: center;
			border: 1px solid #000;
			@include fontStrong();
			float: left;

			&:hover {
				color: #fff;
				background-color: $linkBlue;
				text-decoration: none;
				border-color: $linkBlue;
			}
		}
	}
}